.list-product .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.list-product h3 {
  margin-left: 70px;
  background-color: #009879;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
}

.list-product .header form {
  margin-right: 340px;
  margin-top: 10px;
}
.list-product .header input {
  outline: 0;
  padding: 5px 1.6rem;
  border-radius: 0.7rem;
  appearance: none;
  border: 1px solid #009879;
  transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  z-index: 1;
}
.all-product {
  margin-top: 30px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
}
.all-product .name {
  font-weight: bold;
}
