.productSelect {
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #879096;
  margin-bottom: 10px;
}
.productSelect .group-name {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.productSelect .group-name p {
  margin-left: 7px;
  margin-bottom: 0;
}
.productSelect .group-name .MuiSvgIcon-root {
  cursor: pointer;
}
.productSelect .price-quantity {
  display: flex;
  align-items: center;
  padding: 5px;
}

.productSelect .price-quantity input {
  width: 100px;
  height: 30px;
}
