.form__submit {
    position: relative;
  }
  .form__submit h1{
    margin-left: 30px;
  }
  .form {
    position: absolute;
    top: 70px;
    left: 300px;
  
    display: flex;
    flex-direction: column;
  
    width: 500px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  .error {
    color: red;
  }
  
  .button {
    display: flex;
    justify-content: space-evenly;
  }
  
  
  .button__save {
    padding: 10px 40px;
    background-color: #037afc;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    font-weight: 400px;
  }
  
  .button__save:hover{
    background-color: grey;
    color: white;
  }
  
  .button__cancel {
    padding: 10px 40px;
    background-color: #037afc;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 400px;
  }
  
  .button__cancel:hover{
    background-color: grey;
    color: white;
  }
  
  
  
  