.home {
  flex: 80%;
  background-color: #009879;
}
.home h1 {
  margin: 17px 0 0 200px;
  font-weight: bold;
}
.home img {
  margin-left: 100px;
  margin-top: 30px;
  width: 1000px;
  height: 80vh;
}
