.sidebar {
  width: 20%;
  height: 100vh;
  background-color: #f3f3f3;
}
.sidebar a:hover {
  color: #3f997a;
}
.sidebar h2 {
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
  font-size: 30px;
}
.sidebarItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarItem:hover {
  color: #fff;
  background-color: #3f997a;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
}
.sidebarItem:hover > .sidebarItem__icon {
  color: #fff;
}
.sidebarItem:hover > .sidebarItem__title {
  color: #fff;
}
.sidebarItem .sidebarItem__icon {
  margin-left: 20px;
  flex: 20%;
}

.sidebarItem .sidebarItem__title {
  flex: 80%;
  margin-top: 17px;
  margin-left: 0px;
}
#active .sidebarItem {
  color: #fff;
  background-color: #3f997a;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
}
