body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  padding: 0;
  box-sizing: border-box;
  background-color: #bdc3c7;
}

code {
  font-family: "Poppins", sans-serif;
}

a {
  color: black;
}
a:hover {
  text-decoration: none;
}
