.delivery {
  width: 80%;
  background: #fff;
}
.delivery h3 {
  text-align: center;
  margin-top: 30px;
}
.delivery div {
  display: flex;
  margin-top: 23px;
}
.delivery div .list__material {
  padding: 10px;
  border: 1px solid black;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 20px;
  width: 600px;
  height: 600px;
  overflow-y: scroll;
}

.list__material::-webkit-scrollbar {
  display: none;
}
.delivery .list__material p {
  text-align: center;
}
.delivery .material__selected p {
  text-align: center;
}
.delivery div .material__selected {
  border: 1px solid black;
  padding: 10px;
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.material__selected::-webkit-scrollbar {
  display: none;
}

.material__selectedItem {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #879096;
  padding: 3px;
  width: 100%;
}
.material__selectedItem p {
  margin-top: 20px;
}
.material__selectedItem input {
  width: 70px;
}
.material__selectedItem .MuiSvgIcon-root {
  cursor: pointer;
}

.material__selectedItem .add {
  padding: 0px 10px;
  background: #fff;
  cursor: pointer;
}
.material__selectedItem .sub {
  padding: 0px 10px;
  background: #fff;
  cursor: pointer;
}
.delivery .save {
  margin-top: 10px;
  position: absolute;
  right: 30px;
  padding: 10px 20px;
  font-weight: bold;
  outline: none;
  border: none;
  background: #fff;
  border: 1px solid black;
  border-radius: 4px;
}
.delivery .save:hover {
  background: #879096;
  color: #fff;
  border: none;
}
